/* 
Shane Tinsley, Assignment 6.3, 2/5/24. First Draft of Master CSS for bioSite. 
Basic layout of HTML code. 
References Text Book and W3Schools and Dr. Issa.
https://zebtha.github.io/bioSite/
https://github.com/Zebtha/bioSite.git
*/
header {
   text-align: right;
   padding: 0px;
 }

 .active {
   background-color: #E6BEAE;
   border-bottom: 2px solid #0D160B;
 }

 .active a {
   color: black;
 }

 nav {
   padding: 20px;
 }

 nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 nav a {
   text-decoration: none;
   color: #BAA5FF;
   font-weight: bold;
 }

 nav li {
   display: inline-block;
   margin-right: 15px;
 }

 h6 {
   font-size: 20px;
   margin-left: 30px;
   margin-bottom: 0px;
 }

 body {
   font-family: "Poppins";
   margin: 0px;
   padding: 0;
   display: flex;
   flex-direction: column;
   min-height: 100vh
 }


 #intro {
   width: 100%;
   display: flex;
   padding: 20px;
   margin-top: 0px;
 }

 .intro-title {
   width: 50%;
   font-size: 10px;
   text-align: left;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-left: 20px;
   margin-top: 0px;
   padding: 0px;

 }

 .intro-content {
   width: 50%;
   font-size: 15px;
   text-align: right;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-right: 30px;
   padding: 20px;
 }

 .hero-image img {
   width: 100%;
   object-fit: cover;
 }

 figure {
   object-fit: contain;
   width: 100%;
   margin: 0 auto;
   padding: 10px;
 }

 figcaption {
   text-align: center;
 }

 #card {
   display: flex;
   border-radius: 12px;
   background-color: rgb(221, 211, 211, .5)
 }

 .card-content {
   width: 50%;
   font-size: 18px;
   font-weight: bold;
   padding: 10px;

 }

 .card-image {
   flex: 1;
   text-align: center;

 }

 .card-image img {
   max-width: 50%;
   height: auto;
   border-radius: 12px;
   border-radius: 50%;
   object-fit: contain;
   object-position: center;
   border-style: solid;
   border-color: black;

 }

 #gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 20px;
 }

 .blockquote {
   text-align: center;
 }

 .slide {
   width: 48%;
   margin-bottom: 20px;
 }

 .slide img {
   max-width: 100%;
 }

 .button {
   cursor: pointer;
   width: 504px;
   height: 46px;
   padding: 0px 8px;
   border: 1px solid #1d1d1f;
   box-sizing: border-box;
   border-radius: 12px;
   background-color: #ffffff;
   color: #1d1d1f;
   font-size: 20px;
   font-family: "Poppins";
   line-height: 26px;
   outline: none;
 }

 .input {
   width: 504px;
   height: 54px;
   padding: 0px 8px;
   border: 1px solid #cdcdd2;
   box-sizing: border-box;
   border-radius: 12px;
   background-color: rgba(250, 250, 250, 0.8);
   color: #1d1d1f;
   font-size: 20px;
   font-family: "Poppins";
   font-weight: 300;
   line-height: 22px;
   outline: none;
 }

 .text {
   color: #1d1d1f;
   font-size: 40px;
   font-family: "Poppins";
   font-weight: 500;
   line-height: 44px;
 }

 .footer {
   width: 100%;
   text-align: center;
   padding: 10px;
 }